#navbar{
  height:100px;
}


#logo
{
  padding-right: 0px;
  max-width: 150px;
  max-height:100px;
  background-color: relative;
  opacity: 0.5;
}

.navbar .form-inline .form-control {

  margin-right: 30px!important;
}


.navbar .navbar-nav , {
 position: absolute;
 top : 30%;
 right: 3%;

}

#img-user {

  width: 80px;
  height: 80px;
  border: 1px solid;
  border-radius: 50%;

}


#logged-user {
  position: absolute;
  top : 6%;
  right: 0%;
  width: 300px;
  max-height: auto;
}


.inner{
  min-height:900px;
}



.ref-list{
padding-left: 25px;
}

li{
   list-style-type: none;
}

.right-logo{
  font-size:200%;
  height:50px;
}


.right-main{
  height: 60px;
  margin: 0;
}


.tag1{
  font-size: 1.2rem;
  color: rgb(156, 57, 51) !important;
  margin-left: 1%;
  margin-right: 1%;
}

.tag2{
  font-size: 1.5rem;
  color: rgb(195, 156, 76)!important;
  margin-left: 1%;
  margin-right: 1%;
}

.tag3{
  font-size: 1.4rem;
  color : rgb(132, 82, 133)!important;
  margin-left: 1%;
  margin-right: 1%;
}

.tag4{
  margin-left: 1%;
  margin-right: 1%;
}

.tag5{
  font-size: 1.8rem;
  color: rgb(89, 177, 111)!important;
  margin-left: 1%;
  margin-right: 1%;
}

#topmem{
  font-size:1.3rem;
}


.sticky-footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    width: 100%; /* Ширина слоя */
   }
